@import 'https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root
{
  /* COLORS */
  --PRIMARY: #51E5FF;

  /* FONTS */
  --FS: 24px;
}

body
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #172A3A;
  font-size: var(--FS);
  font-family: Prompt, sans-serif;
}

nav
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

h1,
h2,
h3
{
  color: var(--PRIMARY);
}

main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

input
{
  background-color: var(--PRIMARY);
  border: none;
  font-size: var(--FS);
  padding: 8px;
  border-radius: 8px;
  margin-right: 4px;
}

button
{
  background-color: var(--PRIMARY);
  border: none;
  font-size: var(--FS);
  padding: 8px;
  border-radius: 8px;
  margin-left: 4px;
}

ul
{
  margin-top: 32px;
  border: 2px solid var(--PRIMARY);
  width: 90vw;
  list-style-type: none;
}

li
{
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  margin: 24px 12px;
}

.strikeButton
{
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: rgba(85, 95, 105);
  border-radius: 50%;
}

img
{
  width: 1rem;
  height: 1rem;
}

.strikethrough
{
  text-decoration: line-through;
}